body {background-color: rgb(233, 188, 183);
     }
h1 {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
font-size:120px;
}
h2 {text-align: center;
    text-color: rbg(57, 61, 63);
}
p{
     text-align: center;
}

